*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,
body{
    height: 100%;
    width: 100%;

    background-color: rgb(227, 219, 219);
}

.parent {
    display: flex;
    flex-direction: row;  
    
    gap: 60px;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    padding: 30px;
    background-color: transparent;
    padding-left: 80px;
}

.card{
    height: 380px;       
    width: 280px;       
    flex: 0 0 auto;       
    background-color: transparent;
    border-radius: 30px;
    padding: 30px;
    border: 1px solid rgb(0, 0, 0);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(144, 24, 36, 0.394);
    border: 1px solid black;
    border-radius: 12px;
    margin: 2px;
    padding: 2px 4px;
}
.top img{
    height: 34px;
    width: 38px;
    border-radius: 50%;
    border: 1px solid #ff9f06;
    padding: 1px;
}
.top button{
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    padding: 4px 8px;
    font-size: 10px;
    font-size: 10px;
    border-radius: 5px ;
    color:black;
    gap: 3px;
    background-color: transparent; 
}

.middle{
    background-color: transparent;
}
.middle h3{
    font-size: 18px;
    font-weight: 500;
}
.middle h3 span{
    font-size: 12 px;
    color: #8b8b8b;
    font-weight: 300;
}
.middle h2{
    font-size: 20px;
    font-weight: 700;
}

.middle .tag{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.middle .tag h4{
    font-size: 15px;
    padding: 3px 6 px;
}

.bottom{
    background-color:  transparent;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-top:1px solid #f79000;
    padding-top: 15px; 
    /* uparniche left-right  */
}