
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvitica neue';
}
html,
body{
  height: 100;
  width: 100;
}
.card{
  background-color: rgba(18, 65, 173, 0.514);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
#para{
  background-color: rgb(175, 159, 138);
   border-radius: 10px;
  padding: 10px;
  margin: 10px;
}